@CHARSET "UTF-8";

.containerVitrine{
	margin-top:140px;
	
}
.petitlogo{
	width:95px;
	height:50px;
}
.container h2{
	
	margin-top:60px;
}
.footer{

right: 0;
bottom: 0;
left: 0;
padding: 1rem;
margin-top:150px;
width:100%;
background-color: #8D8D8D;
color:white;

}
.footer img{
display:block-inline;
width:50px;
height:50px;
max-width:50px;
max-height:50px;
}
.blockfooter {
display:inline-block;
}
#nav {
   background: #f0f;
   margin: 0 auto;
   height: 500px;
   min-width: 980px;
   max-width: 2048px;
   position: fixed;
   opacity: 1;
}

.ContentDisplay-pair{
	width:100%;
	background-color:#EDC4C4;
	box-shadow: 10px 10px 5px 0px #B5B3B3;
    padding-bottom:200px;
}
.ContentDisplay-impair{
	background-color:white;
	box-shadow: 10px 10px 5px -6px #B5B3B3;
    padding-bottom: 200px;
}
.containerBlockVitrine{
    max-width: 800px;
    width:800px;
    margin-right: auto; 
    margin-left: auto;
}
.contactBlock{
    width : 100%;
    height: 80px;
    margin-top: 50px;
}
.contactBlock p {
   display: inline-block;
    vertical-align: middle;
    line-height: 80px; 
    position: relative
}
.contactBlock img{
    left: 0;
    height: 60px;
    width : 100px;
    margin: auto 0 ;
    float: left;
}
